{% extends 'layout.html' %}
{% block content %}
    <br>
    <h1 class="uk-text-center title">TOURiST</h1>
    <br>
    <div id='events'>
      {% set count = 1 %}
      {% for event in events %}
        {% if count == 1 %}
            <div class="uk-flex uk-flex-middle uk-flex-space-around eventsContainer">
        {% endif %}
        <a class="uk-width-1-4 uk-panel uk-panel-box events" href="#modal{{event['id']}}" data-uk-modal="{center:true}">
          <h2 class="uk-text-center">{{ event['name'] }}</h2>
          <img src="{{ url_for('static', filename='assets/kittendelete.jpg') }}" width="400">
        </a>
        <div id="modal{{event['id']}}" class="uk-modal">
          <div class="uk-modal-dialog smallEventsModal">
            <a class="uk-modal-close uk-close"></a>
            <h3>{{ event['name'] }}</h3>
            <p>Estimated Price: {{ event['price'] }}</p>
            <p>Dates:</p>
            <p>- {{ event['date'] }}</p>
            <form method="POST">
              <input type="hidden" name="destination" value="{{ event['lat'] + ',' + event['long'] }}">
              <input type="hidden" name="date" value="{{ event['date'] }}">
              <input type="hidden" name="price" value="{{ event['price'] }}">
              <input type="hidden" name="name" value="{{ event['name'] }}">
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
        {% if count == 3 %}
          </div>
          {% set count = 1 %}
        {% else %}
          {% set count = count + 1 %}
        {% endif %}
      {% endfor %}
      </div>
  <script src="script.js"></script>

   <style>
    html  {
        height: 103vh;
        background-image: url("{{ url_for('static', filename='assets/background_greenconcert.jpg') }}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;

    }

    #events {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 80%;
    }

  </style>
{% endblock %}