{% extends 'layout.html' %}
{% block content %}
    <div class="uk-container uk-container-center searchContainer">
      <div class="uk-autocomplete uk-form searchBox" data-uk-autocomplete="{source:'#'}">
        <input class="uk-width-1-1 searchInnerBox" type="text">
        <input class="uk-button uk-button-primary searchButton" type="submit" value="Submit">
      </div>
    </div>
    <script src="static/script.js"></script>
    <style>
    html  {
        height: 100vh;
        background-image: url("static/assets/background_hands.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
  </style>
{% endblock %}
